#signupButton {
    margin-left:auto;
    cursor:pointer;
}

#signinButton1 {
    cursor: pointer;
}

#signupButton1 {
    margin-left : auto;
}

#signinButton,#signupButton1 {
    padding-bottom:8px;
    border-bottom: solid 2px #58c8ff;
}

body,html {
    height: 100%;
}

body {
    margin-left:0 !important;
    margin-right:0 !important;
    background-image: url('background.png');
}
