#signupButton {
    margin-left:auto;
    cursor:pointer;
}

#signinButton1 {
    cursor: pointer;
}

#signupButton1 {
    margin-left : auto;
}

#signinButton,#signupButton1 {
    padding-bottom:8px;
    border-bottom: solid 2px #58c8ff;
}

body,html {
    height: 100%;
}

body {
    margin-left:0 !important;
    margin-right:0 !important;
    background-image: url('img/background.png');
}

.screen-title {
    color:white;
    margin-bottom:10vh;
    margin-top: 5vh;
}

.carousel {
    position:initial;
}

#carouselExampleIndicators {
    height:60%;
    background-repeat: no-repeat;
    background-size:80% 100% ;
    background-position:center;
}

.img-text{
    display:flex;
    align-items:center;
    justify-content: center;
}

ul {
    list-style-type: none;
}

#room-cards {
    margin-bottom:5vh;
}

#launchCustom {
    margin-right:5%;
}